@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Acme&family=Signika+Negative:wght@300..700");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #0b0b0b;
  --bg-color-alt: #0b0b0b30;
  --text-color: #ededed;
  --text-color-alt: #cccccc;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Akatab", "Inter", "Poppins", sans-serif;
  -webkit-tap-highlight-color: #ffffff10;

  :has(.auth)::-webkit-scrollbar {
    display: none;
  }
}

#root {
  display: grid;
  align-content: start;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}
