@import "@/utils/_mixins.scss";

.landing {
  &-nav {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    border-bottom: 1px solid #ffffff25;
    transform: translateX(-50%);
    width: 100vw;
    display: grid;
    > div {
      justify-self: center;
      display: grid;
      grid-template-columns: auto 1fr auto;
      justify-content: space-between;
      align-items: center;
      padding: clamp(15px, 3%, 30px) calc(var(--landing-pad) + 20px);
      background-color: var(--bg-color-alt);
      backdrop-filter: blur(3.5px) saturate(50%);
      width: calc(100% - var(--landing-pad) * 2);
      max-width: calc(1450px - var(--landing-pad) * 2);

      :last-child {
        justify-self: end;
      }

      :nth-child(2) {
        justify-self: center;
        display: grid;
        grid-auto-flow: column;
        column-gap: clamp(30px, 3vw, 50px);

        > span {
          padding: 10px 18px;
          border-radius: 6px;
          cursor: pointer;
          @include hover(var(--text-color-alt), 0.12);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .landing {
    &-nav {
      &-links {
        display: none !important;
      }
    }
  }
}
