@import "@/utils/_mixins.scss";

:root {
  --nav-pad: 0px;
  --nav-height: 80px;
  --animation-timing-function: cubic-bezier(0.535, 0.375, 0, 1.03);
}

.landing {
  &-nav {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 100;
    border-bottom: 1px solid #ffffff25;
    transform: translateX(-50%);
    width: 100vw;
    display: grid;
    align-content: start;
    overflow: hidden;
    transition: max-height 500ms var(--animation-timing-function),
      background-color 300ms var(--animation-timing-function) 200ms;
    &#menu {
      max-height: 165px;
      background-color: var(--bg-color);
      transition: max-height 500ms var(--animation-timing-function),
        background-color 300ms var(--animation-timing-function);
    }

    &-logo {
      text-transform: uppercase;
      font-size: clamp(22px, 2vw, 26px);
      font-weight: 500;
    }

    &-title {
      text-transform: capitalize;
      font-size: clamp(20px, 3.5vw, 32px);
      font-weight: 500;
      opacity: 0;
      transform: translateX(-50px);
      animation: slide-in 0.6s forwards;
      white-space: nowrap;
    }
    > div:first-child {
      justify-self: center;
      display: grid;
      grid-template-columns: 120px 1fr auto;
      justify-content: space-between;
      align-items: center;
      padding: clamp(20px, calc((var(--landing-pad-top) / 3) - 10px), 30px)
        calc(var(--nav-pad) + var(--landing-pad));
      background-color: var(--bg-color-alt);
      backdrop-filter: blur(3.5px) saturate(50%);
      width: calc(100vw - ((var(--nav-pad) + var(--landing-pad)) * 2));
      max-width: calc(1450px - var(--landing-pad) * 2);

      :last-child {
        justify-self: end;

        .button {
          width: 80px;
          text-align: center;
        }
      }

      :nth-child(2) {
        justify-self: center;
        display: grid;
        grid-auto-flow: column;
        column-gap: clamp(30px, 3vw, 50px);

        > a {
          padding: 11px 18px;
          border-radius: 6px;
          cursor: pointer;
          font-size: 17px;
          @include hover(#79797ab9, 0.35);
        }
      }
    }
    &-menuBtn {
      display: none;

      span {
        transition: 600ms var(--animation-timing-function) transform;

        &#turn {
          transform: rotate(180deg);
        }
      }
    }

    &-menu {
      display: none !important;
      max-width: 100%;
      overflow: auto;
      justify-self: center;

      &-links {
        padding: 8px var(--nav-pad) 40px;
        margin: 0 8px;
        display: grid;
        justify-content: start;
        column-gap: 20px;
        grid-auto-flow: column;

        > a {
          border: 1px solid #ffffff25;
          padding: 10px;
          border-radius: 5px;
          width: 90px;
          text-align: center;
          opacity: 0.8;
          transition: 0.2s;
          @include hover(transparent, 0.35);

          &:hover {
            border: 1px solid #ffffff30;
            opacity: 1;
          }
        }
      }
      // height: 0;
      // overflow: hidden;
      // --nav-height: 1200px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 920px) {
  :root {
    --nav-pad: 12px;
  }
}
@media screen and (max-width: 680px) {
  .landing {
    #actionBtn {
      display: grid;
      .button {
        padding: 10px 28px;
      }
    }
    &-nav {
      max-height: 85px;
      &-menu {
        display: grid !important;
      }
      &-menuBtn {
        display: block;
      }
      &-links {
        display: none !important;
      }
      &-action {
        display: none;
        > * {
          background-color: var(--bg-color);
          color: var(--text-color);
          border: 1px solid #ffffff25;
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}
