@import "@/utils/_mixins.scss";

:root {
  --d-column: 280px 1fr 350px;
  --d-translatex: 0;
  --d-container-translatex: 0;
  --d-pad-top: 30px;
  --d-pad-x: clamp(40px, 4vw, 100px);
  --d-content-index: 0;
  --view-all-size: clamp(12.5px, 0.8vw, 16px);
  --weather-display: grid;
  --mobile-tip: grid;
  //   -d-bg:
}
.dashboard {
  height: 100dvh;
  display: grid;
  grid-template-columns: var(--d-column);
  transition: 0.3s cubic-bezier(0.46, 0.14, 0.015, 1.095) transform;
  transform: translateX(var(--d-translatex));
  background-color: var(--bg-color);

  &-content {
    overflow-y: auto;
    overflow-x: hidden;
    justify-self: center;
    width: 100%;
    max-width: 1440px;
    display: grid;
    align-content: start;
    transform: translateX(var(--d-container-translatex));
    transition: 0.3s cubic-bezier(0.46, 0.14, 0.015, 1.095) transform;
    @include overlay(var(--bg-color), 0.5);

    &::after {
      z-index: var(--d-content-index);
    }
  }
  &.menu {
  }
  .material-symbols-rounded {
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
    font-size: 28px;
    user-select: none;
  }
  .greetings {
    justify-self: center;
    width: calc(96% - (2 * var(--d-pad-x)));
    padding: var(--d-pad-top) var(--d-pad-x) 12px;
    border-bottom: 1px solid #ffffff19;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    justify-content: start;
    text-transform: capitalize;
    align-items: center;
    column-gap: clamp(10px, 1vw, 20px);

    .menuBtn {
      margin-left: -14px;
    }

    > div:nth-child(2) {
      display: grid;

      span {
        &:first-child {
          font-size: clamp(12px, 1vw, 18px);
          opacity: 0.7;
          font-weight: 300;
        }
        &:last-child {
          letter-spacing: -0.055rem;
          font-size: clamp(24px, 3.5vw, 42px);
          font-weight: 500;
          // font-family: "Acme", sans-serif;
        }
      }
    }
  }

  .header {
    font-size: clamp(28px, 3vw, 38px);
    font-weight: 500;
    padding-top: calc(var(--d-pad-top) / 1.4);
    line-height: 2;
  }

  .status {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;
    font-size: clamp(16px, 1.5vw, 20px);
    padding-right: caalc(var(--menu-x-pad) / 1.4);

    > :first-child {
      padding: 5px;
      background-color: var(--text-color);
      border-radius: 50%;
    }

    .online {
      background-color: #00ff00;
    }
  }

  &-balance {
    border: 1px solid #ffffff19;
    // background-color: #16161670;
    border-radius: 12px;
    justify-self: start;
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: start;
    align-content: center;
    padding: 24px 30px;
    // margin: 0 10px;
    width: (calc(100% - 62px));
    // max-width: 450px;
    row-gap: 26px;
    @include overlay(var(--bg-color), 0.3);

    &::after {
      background-image: url("https://transparenttextures.com/patterns/asfalt-light.png");
      z-index: -1;
    }

    .balance {
      font-size: clamp(38px, 4.2vw, 54px);
      font-weight: 500;
      display: grid;
      grid-auto-flow: row;
      justify-content: start;
      align-content: center;
      column-gap: 15px;

      span {
        // display: none;
        align-self: last baseline;
        padding: 6px 16px;
        border-radius: 10rem;
        font-size: calc(var(--view-all-size) * 1.2);
        opacity: 0.8;
        font-weight: 300;
        margin-bottom: -20px;
        justify-self: start;
        @include overlay(#ffffff, 0.05);
      }
    }

    > div {
      display: grid;
      grid-auto-flow: column;
      column-gap: 15px;
      justify-content: start;
      align-items: center;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .action {
      width: max-content;
      place-self: start;
      padding: 12px 20px;
      border-radius: 8px;
      cursor: pointer;

      @include overlay(#ffffff, 0.05);
      &:hover {
        @include overlay(#ffffff, 0.08);
      }
    }
  }

  &-container {
    display: grid;
    padding: clamp(30px, calc((var(--d-pad-x) + 18px) / 2), 60px)
      calc(var(--d-pad-x) + clamp(10px, 1.4vw, 42px));
    row-gap: clamp(30px, calc((var(--d-pad-x) + 18px) / 2), 60px);
    max-height: 100dvh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    > :nth-child(4) {
      display: var(--mobile-tip);
      padding: 0 4px;

      > :last-child {
        padding: 20px;
      }
    }
  }

  &-card {
    display: grid;
    grid-auto-flow: row;
    row-gap: calc(var(--d-pad-top) / 2);

    .card {
      &-head {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-size: clamp(22px, 3vw, 36px);

        > :nth-child(2) {
          background-color: #161616;
          padding: calc(var(--view-all-size) / 2) var(--view-all-size);
          border-radius: 10rem;
          font-size: var(--view-all-size);
          opacity: 0.8;
          font-weight: 300;
          margin-right: 5px;
          text-align: center;
          @include hover(#ffffff, 0.05);
        }
      }
    }
  }

  .banner {
    display: grid;
    grid-auto-flow: column;
    grid-gap: clamp(10px, var(--d-pad-x), 50px);
    grid-template-columns: clamp(0px, 35vw, 450px) 1fr;
    column-gap: calc(var(--menu-x-pad) + 0.2vw);

    .weather {
      padding: 0 var(--d-pad-x);
      justify-self: center;
      display: var(--weather-display);
      grid-auto-flow: row;
      grid-template-rows: 1fr;
      row-gap: 10px;
      height: 300px;
      width: calc(100%);

      &-head {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
      }
      &-details {
        background: url("https://transparenttextures.com/patterns/asfalt-light.png");
        border: 1px solid #ffffff19;
        border-radius: 12px;
        padding: 20px;
        display: grid;
        grid-auto-flow: row;
        column-gap: 10px;
        // align-items: center;
        font-size: clamp(14px, 1.5vw, 120%);
        font-weight: 400;
        @include overlay(var(--bg-color), 0.2);

        > div {
          display: grid;
          align-self: start;
          grid-auto-flow: column;
          justify-content: space-between;
          height: 100%;
          // row-gap: 6px;

          &:first-child,
          &:last-child {
            opacity: 0.8;
          }

          &:last-child {
            align-items: last baseline;
          }

          &:nth-child(2) {
            display: grid;
            place-content: center;
            align-items: center;
            align-content: center;
            img {
              width: 100%;
            }
            span {
              font-size: clamp(32px, 4vw, 64px);
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  &-setup {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    > div {
      padding: 20px;
      min-width: none;
      font-size: clamp(12px, 2.5vw, 16px);
      line-height: 1.8;
      justify-content: start;

      .icon {
        font-size: 32px;
      }
    }
  }
}

.menuBtn {
  display: none;
  font-size: 42px !important;
  cursor: pointer;
  z-index: 30;
}

@media screen and (max-width: 660px) {
  .dashboard {
    &-setup {
      grid-template-columns: 5fr 6fr;
      > div {
        font-size: clamp(10px, 2.5vw, 100%);
        &:last-child {
          grid-column: span 2;
        }
        .icon {
          font-size: clamp(18px, 2.5vw, 16px);
        }
      }
    }
  }
}

@media screen and (max-width: 920px) and (min-width: 840px) {
  .dashboard {
    &-setup {
      > div {
        &:last-child {
          grid-column: span 2;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --d-pad-top: 30px;
    --d-pad-x: clamp(0px, 2vw, 20px);
    --menu-x-pad: 15px;
    // --d-column: 1fr;
    --d-translatex: -280px;
  }
  .dashboard {
    width: calc(100vw + 630px);

    // .greetings {
    // }
  }
  .menuBtn {
    display: block;
  }
}

@media screen and (max-width: 920px) {
  :root {
    // --weather-display: none;
  }
  .dashboard {
    .banner {
      justify-content: center;
      grid-auto-flow: row;
      grid-template-columns: calc(100% - 5px);
      grid-template-rows: repeat(2, auto);
      row-gap: var(--d-pad-top);

      .weather {
        height: 230px;
      }
    }
    &-balance {
      .balance {
        grid-auto-flow: column;

        span {
          margin-bottom: 18%;
        }
      }
    }
  }
}

@media screen and (max-width: 1640px) and (min-width: 768px) {
  .dashboard {
    --d-pad-x: clamp(0px, 1vw, 30px);
    width: calc(100vw + 350px);

    .greetings {
      grid-template-columns: auto 1fr;
    }
  }
}

@media screen and (min-width: 1241px) {
  .dashboard {
    --d-pad-top: 40px;
  }
}

@media screen and (min-width: 1240px) and (max-width: 1640px) {
  .dashboard {
    --d-pad-x: clamp(10px, 3vw, 20px);
  }
}

@media screen and (min-width: 1820px) {
  .dashboard {
    --d-pad-top: 60px;

    .banner {
      column-gap: 40px;
      // grid-template-columns: auto 1fr;
    }
  }
}

@media screen and (min-width: 1640px) {
  :root {
    --d-column: 330px 1fr 380px;
    --menu-item-width: 200px;
    --menu-x-pad: 40px;
    --mobile-tip: none;
  }
}
