@import "@/utils/_mixins.scss";

:root {
  --landing-pad: clamp(20px, 5%, 50px);
  --landing-pad-top: clamp(90px, 10%, 160px);
}

.landing {
  position: relative;
  display: grid;
  //   flex-direction: column;
  gap: 40px;
  width: 100vw;
  justify-self: center;
  padding: var(--landing-pad-top) (var(--landing-pad)) 0;
  width: calc(100% - var(--landing-pad) * 2);
  max-width: calc(1440px - var(--landing-pad) * 2);
  color: var(--text-color);

  &:has(.auth) {
    --landing-pad-top: clamp(90px, 12%, 140px);
  }

  &-hero {
    overflow: hidden;
    position: relative;
    border: 1px solid #ffffff25;
    border-radius: 18px;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 60px 0 40px;

    &-content {
      z-index: 1;
      align-content: start;
      //   height: clamp(670px, calc(100dvh - var(--landing-pad-top)), 800px);
      max-width: 80vw;
      padding: 0 12%;
      display: grid;
      //   grid-template-rows: auto auto auto 1fr;
      h1 {
        margin: 0;
        font-size: clamp(27px, 4vw, 50px);
        line-height: 1.6;
      }
      p {
        padding-top: 15px;
        margin: 0;
        width: 70%;
        opacity: 0.8;
        justify-self: center;
        font-size: clamp(12px, 2.4vw, 20px);
        line-height: 1.8;
      }
      > i {
        mask-image: linear-gradient(black 60%, transparent 85%);
        display: grid;
        justify-items: center;
      }
      img {
        width: clamp(340px, 100%, 700px);
        user-select: none;
      }

      .actions {
        justify-self: center;
        max-width: clamp(0px, 80vw, 350px);
        margin: 30px 0 20px;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-gap: 20px;
        // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        > * {
          border-radius: 10rem !important;
          padding: 14px 34px;
          font-size: clamp(11px, 2vw, 16px);
        }
      }
    }

    &-image {
      position: absolute;
      padding-top: 22%;
      //   z-index: 0;
      width: 100%;
      height: 100%;
      background-color: #050503;
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      filter: brightness(0.6) blur(2px);
    }
  }

  &-followup {
    padding: clamp(0px, 8%, 80px) 10%;
    border: 1px solid #ffffff25;
    border-radius: 18px;
    height: fit-content;
    display: grid;
    justify-content: center;
    background: url("https://transparenttextures.com/patterns/asfalt-light.png");
    background-clip: padding-box;
    @include overlay(var(--bg-color), 0.7);

    > div {
      text-align: center;
      display: inline-block;
      font-size: clamp(24px, 2vw, 28px);
      font-weight: 500;
      line-height: 1.8;
      max-width: 768px;

      i {
        padding: 0 8px 0 8px;
        transform: translateY(18%);
        // background-color: red;
        font-size: clamp(26px, 2vw, 30px);
        max-width: 50px;
        overflow: hidden;
      }
    }
  }

  &-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
}

.features {
  &-card {
    display: grid;
    border: 1px solid #ffffff25;
    border-radius: 10px;
    padding: 20px 20px 10px;
    gap: 10px;
    > * {
      margin: 0;
    }
    h2 {
      font-size: clamp(16px, 1vw, 20px);
      font-weight: 400;
      opacity: 0.6;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 8px;
      align-items: center;
    }
    p {
      opacity: 0.85;
      max-width: 400px;
      font-size: clamp(18px, 1vw, 24px);
      line-height: 1.4;
      font-weight: 500;
    }
    img {
      width: 100%;
      border-radius: 8px;
    }

    > span {
      margin-top: 10px;
      overflow: hidden;
      @include overlay(var(--bg-color), 0.3);

      &:hover {
        @include overlay(var(--bg-color), 0);
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .landing {
    &-hero {
      &-content {
        padding: 0 4%;

        p {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    &-features {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --landing-pad: 8px;
  }
  .landing {
    &-hero {
      &-content {
        max-width: 95vw;

        .actions {
          //   column-gap: 10px;
        }
      }
    }
  }
}
