@import "@/utils/_mixins.scss";

:root {
  --landing-pad: clamp(20px, 5%, 50px);
  --landing-pad-top: clamp(140px, 10%, 160px);
}

.landing {
  position: relative;
  display: grid;
  //   flex-direction: column;
  gap: 40px;
  width: 100vw;
  justify-self: center;
  padding: clamp(95px, var(--landing-pad-top), 1200px) (var(--landing-pad)) 0;
  width: calc(100% - var(--landing-pad) * 2);
  max-width: calc(1440px - var(--landing-pad) * 2);
  color: var(--text-color);

  &:has(.auth) {
    --landing-pad-top: clamp(90px, 12%, 140px);
  }

  &-hero {
    overflow: hidden;
    position: relative;
    border: 1px solid #ffffff25;
    border-radius: 18px;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 60px 0 40px;

    &-content {
      z-index: 1;
      align-content: start;
      //   height: clamp(670px, calc(100dvh - var(--landing-pad-top)), 800px);
      max-width: 80vw;
      padding: 0 12%;
      display: grid;
      //   grid-template-rows: auto auto auto 1fr;
      h1 {
        margin: 0;
        font-size: clamp(28px, 5.5vw, 50px);
        line-height: 1.6;
      }
      .description {
        width: clamp(0px, 90%, 600px);
        padding-top: 15px;
        margin: 0;
        justify-self: center;
        font-size: clamp(12.5px, 2.8vw, 20px);
        line-height: 1.8;
        position: relative;

        @include overlay(var(--bg-color), 0.3);
      }
      > i {
        mask-image: linear-gradient(black 60%, transparent 85%);
        display: grid;
        justify-items: center;
      }
      img {
        width: clamp(340px, 100%, 700px);
        user-select: none;
      }

      .actions {
        justify-self: center;
        max-width: clamp(0px, 80vw, 350px);
        margin: 30px 0 20px;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-gap: 20px;
        // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        > * {
          border-radius: 10rem !important;
          padding: clamp(10px, 1.4vw, 16px) 34px;
          font-size: clamp(12px, 2.4vw, 16px);
          font-weight: 600;
        }
      }
    }

    &-image {
      position: absolute;
      padding-top: 22%;
      //   z-index: 0;
      width: 100%;
      height: 100%;
      // background-color: #050503;
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      filter: brightness(0.6) blur(2px);
    }
  }

  &-followup {
    padding: clamp(0px, 8%, 80px) 10%;
    border: 1px solid #ffffff25;
    border-radius: 18px;
    height: fit-content;
    display: grid;
    justify-content: center;
    background: url("https://transparenttextures.com/patterns/asfalt-light.png");
    background-clip: padding-box;
    @include overlay(var(--bg-color), 0.7);

    > div {
      text-align: center;
      display: inline-block;
      font-size: clamp(20px, 2vw, 32px);
      font-weight: 600;
      line-height: 1.6;
      max-width: 720px;

      i {
        padding: 0 8px 0 8px;
        transform: translateY(18%);
        font-size: clamp(26px, 2vw, 30px);
        max-width: 50px;
        overflow: hidden;
      }
    }
  }

  &-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }

  .about {
    & {
      display: grid;
      row-gap: var(--landing-pad);
    }
    &-hero {
      > div {
        min-height: clamp(350px, 50vw, 560px);
        &::after {
          background-image: url("https://transparenttextures.com/patterns/asfalt-light.png");
        }
        @include overlay(var(--bg-color), 0.6);
      }
      .description {
        width: clamp(0px, 90%, 680px);
        font-size: clamp(13px, 3.2vw, 22px);
      }
      &-desc {
        padding-top: 40px;
        strong {
          position: relative;
          z-index: 10;
        }
      }
    }
    h1 {
      font-weight: 800;
      font-size: clamp(20px, 6.4vw, 52px);
      line-height: 1.4;
      letter-spacing: -0.2px;
    }

    .dashboard-card {
      row-gap: 0px;
    }
  }
}

.features {
  &-card {
    display: grid;
    border: 1px solid #ffffff25;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    align-content: space-between;
    // grid-template-rows: auto clamp(80px, auto, 100px) 1fr;
    > * {
      margin: 0;
    }
    h2 {
      font-size: clamp(16px, 1vw, 20px);
      font-weight: 400;
      opacity: 0.6;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 8px;
      align-items: center;
    }
    p {
      opacity: 0.95;
      max-width: 450px;
      font-size: clamp(18px, 1.4vw, 24px);
      line-height: 1.5;
      font-weight: 500;
    }
    img {
      width: 100%;
      border-radius: 8px;
    }

    > span {
      margin-top: 10px;
      overflow: hidden;
      @include overlay(var(--bg-color), 0.3);

      &:hover {
        @include overlay(var(--bg-color), 0);
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  :root {
    --landing-pad-top: clamp(120px, 10%, 150px);
  }
  .landing {
    // row-gap: 12px;
    &-hero {
      &-content {
        padding: 0 4%;

        p {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    &-features {
      grid-template-columns: repeat(2, 1fr);
    }
    &-followup {
      > div {
        span {
          &:nth-child(2) {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --landing-pad: 8px;
  }
  .landing {
    row-gap: 10px;
    &-features {
      grid-gap: 10px !important;
    }
    &-hero {
      &-content {
        max-width: 95vw;

        .actions {
          //   column-gap: 10px;
        }
      }
    }
  }
  :root {
    --landing-pad-top: clamp(72px, 12%, 160px);
  }
}

@media screen and (max-width: 840px) {
}
