@import "@/utils/_mixins.scss";

// Button
.button {
  background-color: var(--text-color);
  padding: 9px 24px;
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  color: var(--bg-color);
  font-size: 15px;
  cursor: pointer;
  @include hover(var(--bg-color), 0.1);

  &.stroke {
    @include hover(var(--text-color), 0.1);
    background-color: transparent;
    color: var(--text-color);
    outline: #ffffffc7 solid 1px;
  }
}
